<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: skyblue">
<div>
	<form class="form-horizontal" th:action="@{/save}" name="input_form" id="input_form" method="post" role="form">
		<div class="form-group">
			<label for="formGroupExampleInput1">Name:</label>
			<input class="form-control" type="text" id="name" th:name="name" placeholder="Enter name of the book"/>
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2">Author:</label>
			<input class="form-control" type="text" id="author" th:name="author" placeholder="Enter author of the book"/>
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput3">Genre:</label>
			<input class="form-control" type="text" id="genre" th:name="genre" placeholder="Enter genre of the book"/>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Description:</label>
			<textarea class="form-control" rows=5 type="text" id="description" th:name="description" placeholder="Enter description of the book"></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Add</button>
	</form>
</div>
</body>
</html>